### Method 1: Creating Pandas DataFrame from lists of lists.

In [1]:
#importing pandas library
import pandas as pd

#initializing list of lists
data = [['Tom', 10], ['Nick', 15], ['Juli', 14]]

#Creating the Pandas DataFrame
df = pd.DataFrame(data, columns = ['Name', 'Age'])

#Printing dataframe
df

   Name  Age
0   Tom   10
1  Nick   15
2  Juli   14

### Method 2: Creating DataFrame from dict of lists

In [2]:
#import pandas library
import pandas as pd

#initialize data of lists.
data = {'Name':['Tom', 'Nick', 'Krish', 'Jack', 'Alex'],
        'Age':[20, 21, 19, 18, 25]}

#create DataFrame
df = pd.DataFrame(data)
 
#print the output.
df

    Name  Age
0    Tom   20
1   Nick   21
2  Krish   19
3   Jack   18
4   Alex   25

### Method 3: Creating a indexes DataFrame using arrays

In [3]:
#import pandas library
import pandas as pd
 
#initialize data of lists.
data = {'Name':['Tom', 'Jack', 'nick', 'juli'],
        'marks':[99, 98, 95, 90]}
 
#creates pandas DataFrame.
df = pd.DataFrame(data, index =['rank1',
                                'rank2',
                                'rank3',
                                'rank4'])
 
#print the data
df

       Name  marks
rank1   Tom     99
rank2  Jack     98
rank3  nick     95
rank4  juli     90

### Method 4: Creating Dataframe from list of dicts

In [4]:
import pandas as pd
 
#Initialize data to lists.
data = [{'a': 1, 'b': 2, 'c':3},
        {'a':10, 'b': 20, 'c': 30}]
 
#Create DataFrame.
df = pd.DataFrame(data)
 
#Print the data
df

    a   b   c
0   1   2   3
1  10  20  30

In [5]:
#Another example to create pandas DataFrame by passing lists of dictionaries and row indexes.

import pandas as pd

#Initialize data of lists
data = [{'b': 2, 'c':3}, {'a': 10, 'b': 20, 'c': 30}]
 
#Creates pandas DataFrame by passing lists of dictionaries and row index.
df = pd.DataFrame(data, index =['first', 'second'])
 
#Print the data
df

         b   c     a
first    2   3   NaN
second  20  30  10.0

In [6]:
#Another example to create pandas DataFrame from lists of dictionaries with both row index as well as column index.

import pandas as pd

#Initialize lists data.
data = [{'a': 1, 'b': 2},
        {'a': 5, 'b': 10, 'c': 20}]
  
#With two column indices, values same as dictionary keys
df1 = pd.DataFrame(data, index =['first',
                                 'second'],
                   columns =['a', 'b'])
  
#With two column indices with one index with other name
df2 = pd.DataFrame(data, index =['first',
                                 'second'],
                   columns =['a', 'b1'])

#print the first data frame
print(df1, "\n")
  
#print the second DataFrame.
print(df2)

        a   b
first   1   2
second  5  10

        a  b1
first   1 NaN
second  5 NaN

### Method 5: Creating DataFrame using zip() function

In [7]:
import pandas as pd
   
# List1
Name = ['Ally', 'Christina', 'Tom', 'Alf']
   
# List2
Age = [25, 30, 26, 22]
   
#get the list of tuples from two lists and merge them by using zip().
list_of_tuples = list(zip(Name, Age))
   
#Assign data to tuples.
list_of_tuples 

#Converting lists of tuples into pandas Dataframe.
df = pd.DataFrame(list_of_tuples,
                  columns = ['Name', 'Age'])
    
#Print dataframe.
df

        Name  Age
0       Ally   25
1  Christina   30
2        Tom   26
3        Alf   22

### Method 6: Creating DataFrame from Dicts of series